{% extends 'base.html' %}

{% block title %} Главная {% endblock title %}
{% block content %}
                <!-- posts -->
                <div id="posts">

                    <!-- entry-gallery -->
                    <h1 class="sub-heading">Самые популярные</h1>
                        {% include 'includes/entry/gallery.html' %}
                    <!-- ENDS entry-gallery -->


                    <!-- entry-standard -->
                    <h1 class="sub-heading">Самые свежие</h1>
                    {% for article in fresh_articles %}
                        {% include 'includes/entry/standart.html' %}
                    {% endfor %}
                    <!-- ENDS entry-standard -->

                    <!-- entry-quote -->
                        {% include 'includes/entry/quote.html' %}
                    <!-- ENDS entry-quote -->

                    <!-- pager -->
                        {% include 'includes/pager.html' %}
                    <!-- ENDS pager -->

                </div>
                <!-- ENDS posts -->
{% endblock %}