{% load staticfiles %}
                    <div class="work">
						<div class="description one-third">
							<h4>Topic</h4>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                Vestibulum tortor quam, feugiat vitagittis tempus lacus enim ac dui.
                            </p>

							<p>Neque egestas augue, eu vulputate magna eros eu erat.
                                Aliquam erat volutpat.
                                Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
                            </p>

							<p class="project-client">
                                Mr. Nakamura
                            </p>
							<p class="project-date">
                                22 Sep, 2011
                            </p>
							<p class="project-link">
                                <a href="http://luiszuno.com/themes/nova/">
                                    Visit site
                                </a>
                            </p>

							<div class="boxy">
								<div class="boxy-content">
									<p>Neque egestas augue, eu vulputate magna eros eu erat.
                                        Aliquam erat volutpat.
                                        Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                                    </p>
								</div>
								<a href="#" class="more-info">
                                    More info
                                </a>
								<a href="#" class="less-info">
                                    Less info
                                </a>
							</div>
						</div>

						<div class="two-third last">
                            <a href="http://luiszuno.com/themes/nova/">
                                <img src="{% static "img/dummies/nova.jpg" %}" alt="Nova template" />
                            </a>
                            <em>
                                Click on the image to visit web site
                            </em>
                        </div>

						<div class="clearfix">

						</div>
                    </div>