{% load staticfiles %}
                    <article class="format-quote">

                        <div class="quote-bg">
                            <span class="quote-text">
                                Невозможно создать хороший продукт,
                                основываясь на опросах людей или пользуясь фокус-группами.
                                Люди сами не знают чего они хотят, пока им это не покажешь.
                            </span>
                            <div class="entry-date">
                                <span class="entry-day">

                                </span>
                                <span class="entry-year">
                                    1998 год
                                </span>
                            </div>
                        </div>
                        <div class="entry-top">

                        </div>

                    </article>