{% load staticfiles %}
                    <article class="format-video">

                        <div class="lineheight-fix">
                            <iframe width="700" height="349" src="http://www.youtube.com/embed/PsD0NpFSADM" frameborder="0" allowfullscreen>

                            </iframe>
                            <div class="entry-top">

                            </div>
                        </div>
                        <h4 class="entry-title">
                            <span class="title">
                                Youtube format
                            </span>
                        </h4>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                        </p>
                        <div class="entry-date">
                            <span class="entry-day">
                                23
                            </span>
                            <span class="entry-year">
                                sep 2011
                            </span>
                        </div>

                    </article>