{% extends 'base.html' %}
{% block content %}
                <div id="posts">

                    <h1 class="sub-heading">
                        {{ category.title }} {{ category.name }}
                    </h1>
                    {% for article in articles %}
                        {% include 'includes/entry/standart.html' %}
                    {% endfor %}

                    {% include 'pager_category.html' %}

                </div>
                <div class="clear">

                </div>
{% endblock %}